<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find hi_12dof_250108_4)/urdf/hi_12dof_250108_4.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find hi_12dof_250108_4)/urdf.rviz" />
</launch>